body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* http://stackoverflow.com/questions/16649943/css-to-set-a4-paper-size */
@page {
  size: A4;
  margin: 0;
}
@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
  }
}
